//FOOTER
footer {
    margin-top: 1px;
    padding: 25px;
    display: flex;
    justify-content: center;
    div {
        a {
            width: 80px;
            padding-left: 20px;
            overflow: hidden;
            img {
                width: 40px;
                &:hover {
                    -webkit-transform: scale(0.5);
                    transform: scale(0.5);
                    transition: 0.3s;
                }
            }
        }
    }
}


/*Breakpoint footer*/

@media only screen and (min-width: 320px) and (max-width: 500px) {
    footer {

        a {
            padding-left: 20px;
            overflow: hidden;

            img {
                width: 30px;
            }
        }
    }


}