main {
    .intro_desc {
        padding: 30px 50px 30px 50px;

        p {
            font-size: 20px;
            text-align: center;
            line-height: 30px;
            color: var(--blanco);
        }

        a {
            color: var(--blanco);
        }

        a:hover {
            background-color: white;
            color: var(--negro);
            transition: .3s;

        }
    }

    .publication_makeup {
        justify-content: center;
        flex-wrap: wrap;

        .publication_makeup_intro {
            text-align: center;
        }

        .makeup_images {
            display: grid;
            grid-template-columns:repeat(2,1fr);
            justify-self: center;

            img {
                width: 100%;
            }
        }

        .publication_makeup_steps {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            &>* {
                padding: 5px;
            }

            ul {
                list-style-type: none;
            }

            .steps {
                padding: 10px;
            }
        }

        .since {
            padding-top: 50px;
            text-align: center;
        }

    }


}

.bannerBox {
    padding-top: 5px;
    display: grid;
    place-items: center;

    img {
        width: 100%;
    }
}

@media only screen and (max-width: 1000px){
    .publication_makeup{
        display: inline;
    }
}